<div class="span6 specs_container" id="specs_suite_<%= specsSuite.id %>"> <!-- Spec Container -->
  <div class="span12"> <!-- App / Device -->
    <table style="width: 100%;">
      <tr>
        <td><h3 id="specs_suite_title_<%= specsSuite.id %>" style="line-height: 20px; padding-left: 20px;"></h3></td>
        <td style="width:20px; vertical-align: top;"><a class="close" data-dismiss="alert" href="#" onclick="endSpecsSuite(<%= specsSuite.id %>);">&times;</a></td>
      </tr>
    </table>
  </div>

  <div class="span12"> <!-- Statistics (header) -->
    <div class="span5" style="">
      <table style="width: 100%;">
        <tr>
          <td rowspan="2" style="width: 70px;">
            <input type="text" value="0" id="specs_suite_avancement_<%= specsSuite.id %>" class="dial" style="webkit-box-shadow:none; box-shadow: none;">
          </td>
          <td>
            <div id="specs_suite_avancement_success_<%= specsSuite.id %>" class="progress progress-success progress-striped" style="margin-top: 10px; margin-bottom: 10px;">
              <div class="bar" style="width: 0%"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div id="specs_suite_avancement_error_<%= specsSuite.id %>" class="progress progress-danger progress-striped">
              <div class="bar" style="width: 0%"></div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="span7"> <!-- alerts -->
      <form class="span10" method="GET" action="#" onsubmit="return runSpecs('<%= specsSuite.id %>', this);">
        <div class="input-append span12" style="margin-top: 20px;">
          <input type="text" class="span11" name="filter" placeholder="Filter">
          <button type="submit" class="btn">Run</button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-block fade in span12" id="spec_confirmation_<%= specsSuite.id %>" style="display: none;">
    <p class="confirmation_expected_message" style="text-align: center;"></p>
    <p>
      <a class="btn btn-success span6" href="#" onclick="validateSpec(<%= specsSuite.id %>, true);">OK</a>
      <a class="btn btn-danger span6" href="#" onclick="validateSpec(<%= specsSuite.id %>, false);">NOT</a>
    </p>
  </div>

  <div style="span12"> <!-- Results -->

    <div class="span12" style="height: 300px; overflow-y: scroll;">
      <table class="table table-hover table-condensed" id="specs_results_<%= specsSuite.id %>">
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr><td colspan="3"></td></tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
